<!-- 네비게이션바 -->
<div class="navbar bg-base-300">
    <div class="navbar-start">
        <a class="btn btn-ghost normal-case text-xl text-accent" href="{% url 'pybo:index' %}">Pybo</a>
    </div>
    <div class="navbar-end">
        {% if user.is_authenticated %}
            <a class="btn btn-ghost normal-case text-xl" href="{% url 'common:logout' %}">{{ user.username }} (로그아웃)</a>
        {% else %}
            <a class="btn btn-ghost normal-case text-xl" href="{% url 'common:login' %}">로그인</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a class="btn btn-ghost normal-case text-xl" href="{% url 'common:signup' %}">회원가입</a>
        {% endif %}
    </div>
</div>
